body {
    background-image: url(../assets/anastase-maragos-rtsvifRfBJk-unsplash.jpg);
    /* background-color: #b6b2ad; */
    background-color: #ede4df;
    padding: 20%;
    background-size: 60% 123%;
    background-repeat: no-repeat;
    overflow: hidden;


}


.Login__gestao {
    position: absolute;
    top: 40%;
    left: 80%;
    background-color: #ede4df;
    padding: 50px;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    /* box-shadow: 8px 5px 5px #3f3f3f; */


}


.gestao__de__escalas {
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #21292a;

}

/* button {
    background-color: silver;
    width: 30%;
    text-align: center;


}

.submit {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: large;


}

.submit:hover {
    background-color: #21292a;
    color: white;
    border-radius: 5px; */

/* } */

.usuario {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: large;

}

/* .usuario:focus {
    border-bottom:2px solid ;
    transition: all .3s ease-out;
} */


.senha {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: large;
}

/* .senha:hover {
    background-color: #21292a;
    color: black;
    border-radius: 5px;


} */

.cadastrar {
    position: relative;
    left: 79px;
    margin-top: 9px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: larger;


}




.cadastrar:hover {
    background-color: #21292a;
    color: white;
    border-radius: 5px
}



.nome {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: large;
}

/* .nome:hover {
    background-color: #21292a;
    color: white;
    border-radius: 5px; */

/* } */

.fa-eye {
    position: relative;
    top: -18px;
    left: 90%;

}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;


}


#msgSuccess {
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;

}