body {
    background-image: url('./assets/clay-banks-u27Rrbs9Dwc-unsplash.jpg');
    /* background-color: #b6b2ad; */
    background-color: #bab7b2;
    padding: 20%;
    background-size: 60% 190%;
    background-repeat: no-repeat;
    overflow: hidden;

}


.Login__gestao {
    position: absolute;
    top: 40%;
    left: 80%;
    background-color: #bab7b2;
    padding: 50px;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    /* box-shadow: 8px 5px 5px #3f3f3f; */


}


.gestao__de__escalas {
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #21292a;

}

button {
    background-color: silver;
    width: 30%;
    text-align: center;


}

.submit {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: medium;


}

.submit:hover {
    background-color: #21292a;
    color: white;
    border-radius: 5px;

}

.usuario {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: large;
}

/* .usuario:hover {
    background-color: #21292a;
    color: white;
    border-radius: 5px;
} */


.senha {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: large;
}

/* .senha:hover {
    background-color: #21292a;
    color: black;
    border-radius: 5px;


} */

.criar_conta {
    position: relative;
    left:98px;
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: medium;
    

}

.criar_conta:hover {
    background-color: #21292a;
    color: white;
    border-radius: 5px;

}    



.fa-eye {
    position: relative;
    top:-18px;
    left: 90%;
    cursor: pointer;
    
    
    
}
