.Login__gestao {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    background-color:bisque;
    padding: 50px;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    background-color: #B0C4DE;
}

.gestao__de__escalas {
    padding: 10px;
    text-align: center;
    
}

button {
    background-color: silver;
    width: 30%;
    text-align: center;
    
}