body {
    background-image: url('./assets/clay-banks-u27Rrbs9Dwc-unsplash.jpg');
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


.Login__gestao {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    background-color:#DCDCDCbb;
    padding: 50px;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 8px 5px 5px #3f3f3f;
    
    
}


.gestao__de__escalas {
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

button {
    background-color: silver;
    width: 30%;
    text-align: center;
    
}

.submit {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    width: 40%;
    float: left;
    cursor: pointer;
    font-weight: bold;
    
}

.submit:hover {
    background-color: #2c2c2c;
    color: white;

}

.email {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    width: 90%;
    float: left;
    cursor: pointer;
} 

.email:hover {
    background-color: #2c2c2c;
    color: white;
}


.senha {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    width: 90%;
    float: left;
    cursor: pointer;
}

.senha:hover {
    background-color: #2c2c2c;
    color: white;
}
